body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  width: 90%

a
  color: #00B7FF

h1
  text-align: center
  font-size: 2.6em

form
  width: 100%
  text-align: center
  margin-bottom: 20px

input[name='search']
  display: inline-block
  margin: 0 auto
  width: 20%
  height: 28px
  font-size: 1.2em

article
  float: left
  width: 220px
  height: 270px
  margin: 10px

  img
    width: 100%